* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e90ff;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  height: 500px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 1px 1px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper-one {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}

.expand {
  display: flex;
  flex-direction: column;
  width: 45%;
  outline: none;
  height: 45%;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px 1px #fff;
}

.expand input {
  outline: none;
}

.list-reveal {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 45%;
  border: none;
  /* background-color: #ffe4e1; */
  box-shadow: 1px 1px 1px 1px #fff;
}

#checker {
  padding: 10px;
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}