* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100%;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 45.3%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  /* flex-direction: column; */
  /* gap: 10px; */
  width: 100%;
}

#add {
  display: flex;
  width: 150px;
  height: 34px;
  border: none;
  background-color: #008000;
  color: #e0e0e0;
}

#delete {
  /* padding: 16px; */
  padding-bottom: 8px;
  display: flex;
  width: 180px;
  height: 34px;
  border: none;
  background-color: red;
  color: #e0e0e0;
}

form input {
  width: 100%;
  height: 34px;
  border: none;
}

form input:focus {
  outline: 1px solid lightslategray;
}

ul {
  max-height: 450px;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 0.5rem 0;
}
/* 
li {
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */